.faq-contents{
    /* background-color: aqua; */
    position: relative;
    width:500px;
    height: 600px;
   
}
.Distance-sec1{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50% 50% 0 50%;
}
.Distance-sec2{
    width: 200px;
    position: absolute;
    top: 60px;
    right: 45px;
    border-radius: 100px 0px 100px 0px;
}
.Distance-sec3{
    position: absolute;
    bottom: -20px;
    right:5px;
    border-radius:0 50px 50% 50%;
}
.Distance-sec4{
    position: absolute;
    bottom: 20px;
    left: 40px;
    border-radius:100px 0 100px 0px;
}
.Distance-sec5{
    position: absolute;
    bottom: -30px;
    left: -30px;
}
.Distance-sec6{
    position: absolute;
    top: -50px;
    left: 200px;
}
.Distance-sec7{
    z-index: -1;
    position: absolute;
    right: 0;
    top: 50;
}